*.iml
.gradle
local.properties
/build
/captures
.externalNativeBuild
app/build

# User-specific configurations
/.idea/libraries/
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/caches/
/.idea/codeStyles/
/.idea/codeStyles/codeStyleConfig.xml
.formatter/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Signing files
.signing/

# Crashlytics configuations
com_crashlytics_export_strings.xml

# IntelliJ
*.iml
.idea/
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/caches/
.idea/codeStyles/
.idea/codeStyles/codeStyleConfig.xml
